<div class="container">
  <div class="row">
   <div class="col-12">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a routerLink="/" class="nav-link active" aria-current="true" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/recetas" class="nav-link active" href="#">Mira y comparte recetas</a>
          </li>
          <li class="nav-item">
            <a routerLink="/biblioteca" class="nav-link active" href="#">Biblioteca de alimentos</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Bitácora de alimentos</h5>
        <p class="card-text">Regístrate y sé parte de ésta gran comunidad donde encontrarás recetas, información nutricional de los alimentos y mucho más.</p>
        <button routerLink="/únete" type="button" class="btn btn-primary">Únete</button>
      </div>
    </div>
   </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/img1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/img2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/img3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>