<div class="container">
    <div class="row">
        <div col-12>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  OPSSS!! Error 404.. Página no encontrada.
                </div>
              </div>
            <button routerLink="/" type="button" class="btn btn-primary">Volver al inicio</button>
        </div>
    </div>
</div>
